@media  (max-width: 600px) {
    .nav{
        width: 100%;
        padding: 0;
        margin: 0 auto;        
    }
    .nav-item,
    .nav-button{
        font-size: 0.8rem;
        margin: 0 auto;
    }
    .hero-container,.hero-image{
        display: block;
        width: min(100%, 600px);
        margin:  0 auto;
        padding: 1em;
        min-height: 200px;
    }
  
    .hero-button{
        padding: .8em;
        font-size: .1.5rem;
    }
    .hero-content h1{
        width: min(100%, 500px);
        font-size: 2rem;
    }
    .hero-content p{
        width: min(100%, 600px);
        font-size: 1rem;
    }

    .about-container{
        width: 100%;
        flex-direction: column;
        gap:  0;
        
    }
    .about-content{
        width: min(90%, 500px);
        margin: 0 auto;
    }
    .about-content h1{
        font-size: 1.5rem;
        width: min(100%, 600px);
    }
    .about-content p{
        width: min(100%, 600px);
        font-size: .9rem;
    }
    .about-content2{
        width: min(100%, 500px);
        margin: 0 auto;
    }

    .about-content2 span h1{
        font-size: 1.5rem;
        text-transform: uppercase;
    }
    .about-content2 span p{
        font-size: .9rem;
        text-align: justify;
        line-height: 1.5;
    }
}