:root{
    --primary-color: #23424a;
    --secondary-color: #136c72;
    --tertiary-color: #36cfd9;
    --font-color: #f0f0f0;
    --font-color2: #000;
    --heading-font: 'Roboto', sans-serif;
    --body-font: 'Verdana', sans-serif;
    --gradient: linear-gradient(125deg, var(--primary-color), var(--secondary-color));
    --gradient2: linear-gradient(125deg, var(--tertiary-color), var(--secondary-color) 40%);
    --gradient3: linear-gradient(90deg, var(--primary-color), var(--tertiary-color));
}
body{
    box-sizing: border-box;
    margin: 0;
}

/* Navigation */

/* logo 
.logo{
    height: 2em;
    width: 2em;
    max-width: 50px;
}
*/

.hero-section{
  padding: 2em;
  background-color: var(--primary-color);
}

.hero-container{
    width: 50%;
    gap: 2em;
    margin: 0 auto;
    background-color: var(--primary-color);
    padding:1em;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.hero-content{
    width: 100%;
    max-width: 600px;
}

.hero-content h1{
    font-family: var(--heading-font);
    color: var(--font-color);
    font-size: 2.5rem;
    width: 100%;
    max-width: 700px;
}

.hero-content p{
    font-family: var(--body-font);
    font-size: 1.3rem;
    color: var(--font-color);
    width: 100%;
    max-width: 700px;
    text-align: justify;
}

.hero-button{
    padding: 1.5em;
    font-family: var(--heading-font);
    font-weight: 1000;
    color: var(--font-color);
    background: var(--tertiary-color);
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    transition: all 0.3s ease;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.hero-button:hover{
    background: var(--secondary-color);
    cursor: pointer;
    color: var(--tertiary-color);
}

.hero-image{
    align-self: center;
}

.hero-image img{
    width: 100%;
    max-width: 300px;
    max-width: fit-content;
}

.about-section{
    padding: 2em;
}

.about-container{
    width: 50%;
    gap: 2em;
    padding: 1em 0;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin: 0 auto;
}

.about-content h1{
    font-family: var(--heading-font);
    color: var(--secondary-color);
    font-size: 2rem;
    
    max-width: 600px;
    text-transform: uppercase;
}

.about-content p{
    font-family: var(--body-font);
    font-size: 1rem;
    color: var(--font-color2);
    width: 100%;
    max-width: 600px;
    text-align: justify;
}

.about-content2{
    flex-direction: column;
    justify-content: center;
    padding: 1.5em;
    max-width: 400px;
    background-color: var(--secondary-color);
    color: var(--font-color);
}

.about-content2 span{
    text-align: center;
}

.about-content2 span h1{
    font-family: var(--heading-font);
    font-size: 1.5rem;
    text-transform: uppercase;
 
}

.about-content2 span p{
    font-family: var(--body-font);
    font-size: 1rem;
}